body {
    background-image: url(../images/weather.png);
}

#current-UV {
    display: inline-block;
    border-radius: 6px;
}

.card {
    background-color: #a9ecfd;
    box-shadow: 2px 2px 20px #a7d6e2;
}

.list-group-item {
    background-color: #cef3fc;
    margin-top: 1%;
    box-shadow: 2px 2px 20px #a7d6e2;

}

.jumbotron {
    background-image: url(../images/weather.png);
}

.jumbotron h1 {
    text-shadow: 4px 4px 8px #345f69;
}

small {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 15%;
    color: #359db8;
}